*{
    padding: 0;
    margin: 0;
    background: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
}
#list{
    font-size: 1.5rem;
    padding: 0px 50px;
    list-style: none;
}
